// --------------------------
// Variables
// --------------------------

// Base fonts
$raleway: (
  "Raleway",
  -apple-system,
  BlinkMacSystemFont,
  "Roboto",
  sans-serif,
);

$playfair: (
  "Playfair Display",
  "Hoefler Text",
  "Baskerville Old Face",
  "Garamond",
  "Georgia",
  "Times",
  "Times New Roman",
  serif,
);

$fa-font-path: "../fonts/font-awesome" !default;
$brand-primary: #333333;
$body-bg-color: #DDDDDD;

// Breakpoints
$tiny-breakpoint: 420px;
$small-breakpoint: 580px;
$medium-breakpoint: 720px;
$large-breakpoint: 960px;

// Media queries
$large: "only screen and (min-width: #{$large-breakpoint})";
$medium: "only screen and (max-width: #{$medium-breakpoint})";
$small: "only screen and (max-width: #{$small-breakpoint})";
$tiny: "only screen and (max-width: #{$tiny-breakpoint})";

// Neat settings
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$page-width: 1080px;

// Colors
$color-page:   #F1F1ED;
$color-red:    #90122A;
$color-white:  #ffffff;
$color-black:  #333333;
$color-blue:   #0D28FF;
$color-gray:   #989898;
$color-yellow: #E5CC81;
$color-beige:  #EFDBA0;
