#footer {
  background-color: $color-yellow;

  .madeby {
    @include grid-column(12);
    font-family: $raleway;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    padding: 80px 0;

    strong {
      color: $color-red;
    }
  }
}