#form {
  background-color: $color-yellow;

  .wrapper {
    background-color: $color-beige;
    position: relative;
    padding: 100px 40px;
  }

  .header {
    position: absolute;
    top: -55px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;

    h3 {
      font-family: $playfair;
      font-size: 64px;
      text-transform: none;
      text-align: center;
    }
  }

  .information {
    @include grid-column(6);

    .large {
      font-family: $playfair;
      font-size: 28px;
      line-height: 1.6;
      margin-right: 20px;
    }

    ul li {
      font-size: 24px;

      a,
      a:link,
      a:visited {
        display: block;
        padding: 10px 0;
        margin: 0;
      }
    }
  }

  .form {
    @include grid-column(6);
  }
}

#contact {
  label {
    display: none;
  }

  ::-webkit-input-placeholder { /* Chrome */
    color: #cabb8a;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cabb8a;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cabb8a;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #cabb8a;
    opacity: 1;
  }

  textarea,
  input {
    font-family: $playfair;
    font-size: 28px;
    border: 0;
    border-bottom: 2px solid $color-black;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 18px 0;
  }

  textarea {
    min-height: 120px;
  }

  button {
    color: $color-black;
    font-family: $raleway;
    font-size: 24px;
    font-weight: 200;
    text-transform: lowercase;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border: 2px solid $color-black;
    padding: 26px 40px;
  }

  .form-action {
    padding: 40px 0;
  }
}