#header {
  .container {
    background-color: rgba(255, 255, 255, .8);
  }

  .logo-container,
  .social {
    @include grid-column(6);
  }

  .headline {
    @include grid-shift(1);
    @include grid-column(10);
  }
}

#header .logo {
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;

  a {
    @include hide-text;
    text-indent: 300%;
    display: block;
    height: 64px;
    width: 150px;
    background-image: url("../img/logo.svg");
  }
}

#header .social {
  text-align: right;
  padding: 40px 0;
  line-height: 1.4;

  .connect {
    padding: 15px 5px;
  }
}
