#header {
  padding-top: 40px;

  @media #{$medium} {
    padding-top: 20px;
  }

  .wrapper {
    background-color: rgba(255, 255, 255, .8);
    padding-top: 40px;
    padding-bottom: 100px;

    @media #{$medium} {
      padding-top: 30px;
      padding-bottom: 80px;
    }

    @media #{$medium} {
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }

  .logo-container,
  .social {
    @include grid-column(6);
  }

  .headline {
    @include grid-column(12);
    text-align: center;

    img {
      max-width: 800px;
      margin-bottom: 20px;

      @media #{$medium} {
        max-width: 100%;
      }
    }
  }

  .logo {
    float: left;
    margin-bottom: 40px;

    @media #{$small} {
      margin-bottom: 30px;
    }

    a {
      @include hide-text;
      text-indent: 300%;
      display: block;
      height: 64px;
      width: 150px;
      background-image: url("../img/logo.svg");
      background-size: 150px 64px;
      background-position: top left;
      background-repeat: no-repeat;

      @media #{$medium} {
        height: 50px;
        width: 118px;
        background-size: 118px 50px;
      }
    }
  }

  .social {
    text-align: right;
    line-height: 1.4;

    a,
    a:link,
    a:visited {
      color: #333333;
      font-weight: normal;
      text-decoration: none;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }

    .connect {
      padding: 20px 5px;

      @media #{$small} {
        padding: 15px 0;
      }
    }

    @media #{$small} {
      .hide-on-small {
        display: none;
      }
    }
  }

  .description {
    @include grid-column(12);
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;

    @media #{$medium} {
      font-size: 20px;
    }

    @media #{$small} {
      font-size: 16px;
    }
  }
}
