#join-us {
  padding: 0;
  margin: 0;
  height: 0;
  @include grid-container;
  position: relative;

  .wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .absolute-position {
    width: 100%;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -40px;
  }

  .text {
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #D4B966;
    display: inline-block;
    padding: 24px 50px;
    float: none;
  }
}
